* {
	margin: 0;
	padding: 0;
}
body {
	font-family: Ariel, Helvetica, sans-serif;
	background-color: #333333;
}

:root {
	--text-color: #dadada;
}
/*Global*/
/*Animation*/
.route-enter,
.route-appear {
	animation: slideIn 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.route-leave {
	animation: slideOut 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.route-appear {
	animation: slideUp 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
@keyframes slideIn {
	0% {
		opacity: 0;
		transform: translate3d(-50px, 0, 0);
	}
	100% {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}
@keyframes slideOut {
	0% {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
	100% {
		opacity: 0;
		transform: translate3d(50px, 0, 0);
	}
}

@keyframes slideUp {
	0% {
		opacity: 0;
		transform: translate3d(0, 60px, 0);
	}
	100% {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}
/*Animation END*/
.portfolio-container,
.container-contact {
	width: 1024px;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
	padding-bottom: 1rem;
}
/* Icon Back */
.hvr-icon-back {
	color: #dadada;
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-transition-duration: 0.1s;
	transition-duration: 0.1s;
	outline: none;
}
.hvr-icon-back .hvr-icon {
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-transition-duration: 0.1s;
	transition-duration: 0.1s;
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.hvr-icon-back:hover .hvr-icon,
.hvr-icon-back:focus .hvr-icon,
.hvr-icon-back:active .hvr-icon {
	-webkit-transform: translateX(-4px);
	transform: translateX(-4px);
}
/*Global End*/
/* Homepage */
.home-container {
	width: 100%;
	height: 100vh;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	z-index: 1;
}
.links {
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	color: var(--text-color);
	font-size: 2.5rem;
	border: 1px #222 solid;
	background-color: #333333;
	outline: none;
}
.links:hover {
	background-color: transparent;
	transition: 1s;
}
.video-container {
	position: fixed;
	z-index: -1;
	overflow: hidden;
}
/*Homepage End*/
/* About */
.about-container {
	max-width: 1024px;
	width: 90%;
	height: 50vh;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
}
.about-container h1 {
	text-align: center;
	padding: 3rem;
	color: var(--text-color);
}
.about-container p {
	padding-bottom: 2rem;
	color: var(--text-color);
}
/*.img {
	width: 170px;
	height: 150px;
	margin: 0 auto;
	padding-top: 2rem;
}
.img img {
	width: 100%;
	height: 100%;
	border-radius: 50%;
}*/
/*About End*/
/*Skills*/
/*Maybe add a module and pop up a little description about the technology?*/
.skills-container {
	width: 1024px;
	height: 100vh;
	margin: 0 auto;
}
.skills-container h1 {
	text-align: center;
	padding: 1rem;
	color: var(--text-color);
}
.skills-container div {
	width: 100%;
	/*height: 100%;*/
}

.skills-container .skills-wrapper {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 20px;
	width: 100%;
	height: 100%;
	padding-bottom: 1rem;
}

.skills-container .skill {
	padding: 0.5rem 0rem;
	font-size: 1.5rem;
	background-color: #dadada;
	text-align: center;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
}
.skill:nth-child(9) {
	grid-column: 2/3;
}
.skills-container img {
	width: 100px;
	height: 100px;
}

/*Skills End*/
/*Portfolio*/
.portfolio-container h1 {
	margin-top: 3rem;
	color: var(--text-color);
}
.wrapper {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 1.5rem;
	margin: 3rem 0rem;
}
.wrapper .box {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	border: 1px solid #222;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.wrapper .box:nth-child(1) {
	background-image: url("./components/Portfolio/assets/Info Form.png");
}
.wrapper .box:nth-child(3) {
	background-image: url("./components/Portfolio/assets/NumbersFacts.png");
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
}
.wrapper .box:nth-child(5) {
	background-image: url("./components/Portfolio/assets/ImageFinder.png");
	background-position: left;
	background-repeat: no-repeat;
	/*background-size: contain;*/
}
.wrapper .box:nth-child(7) {
	background-image: url("./components/Portfolio/assets/MatchingGame.png");
}
/* Float Shadow */
.hvr-float-shadow {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	position: relative;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform;
	transition-property: transform;
}
.hvr-float-shadow:before {
	pointer-events: none;
	position: absolute;
	z-index: -1;
	content: "";
	top: 100%;
	left: 5%;
	height: 10px;
	width: 90%;
	opacity: 0;
	background: -webkit-radial-gradient(
		center,
		ellipse,
		rgba(0, 0, 0, 0.35) 0%,
		rgba(0, 0, 0, 0) 80%
	);
	background: radial-gradient(
		ellipse at center,
		rgba(0, 0, 0, 0.35) 0%,
		rgba(0, 0, 0, 0) 80%
	);
	/* W3C */
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform, opacity;
	transition-property: transform, opacity;
}
.hvr-float-shadow:hover,
.hvr-float-shadow:focus,
.hvr-float-shadow:active {
	-webkit-transform: translateY(-5px);
	transform: translateY(-5px);
	/* move the element up by 5px */
}
.hvr-float-shadow:hover:before,
.hvr-float-shadow:focus:before,
.hvr-float-shadow:active:before {
	opacity: 1;
	-webkit-transform: translateY(5px);
	transform: translateY(5px);
	/* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}

.project-links {
	padding: 1rem 0rem;
	width: 100%;
	display: flex;
	justify-content: space-around;
	background-color: #231818;
}
.project-link {
	text-decoration: none;
	color: var(--text-color);
}
/*description*/
.description {
	padding: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.description p {
	color: var(--text-color);
}
/*Portfolio End*/
/*Contact info*/
.container-contact h1 {
	margin: 3rem;
	color: var(--text-color);
}
.contact {
	display: grid;
	grid-template-rows: repeat(3, 1fr);
	grid-row-gap: 1rem;
	justify-content: center;
	align-items: center;
	font-size: 1.5rem;
	color: var(--text-color);
}
.contact a {
	text-decoration: none;
	color: #fff;
}
.contact a:hover {
	color: var(--text-color);
}
.icons div {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.icon {
	font-size: 6rem;
	color: #fff;
}

.icons h1 {
	border-bottom: 1px solid #fff;
	font-weight: 100;
	font-size: 1.8rem;
}
.contact-info {
	padding-bottom: 2rem;
}
/*Contact info end*/
/*Videos*/
.video-container {
	width: 50%;
	height: 50%;
	position: fixed;
	z-index: -1;
	overflow: hidden;
}
video {
	width: 100%;
}
