* {
	margin: 0;
	padding: 0;
}
body {
	font-family: Ariel, Helvetica, sans-serif;
}
/*Global*/
.about-to-home,
.skills-to-home,
.porfolio-to-home,
.contact-to-home {
	display: flex;
	justify-content: center;
	align-items: center;
}

.about-container h1,
.skills-container h1 {
	text-align: center;
	padding: 3rem;
}
.portfolio-container,
.container-contact {
	width: 1024px;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
}
/*Global End*/
/* Homepage */
.home-container {
	background-color: #413c3c99;
	width: 100%;
	height: 100vh;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}
.card {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid #222;
	font-size: 2rem;
	overflow: hidden;
}
.card a {
	color: #fff;
	text-decoration: none;
	transition: 0.7s;
	z-index: 2;
}
.card:hover {
	background-color: #131a13cc;
	transition: 0.7s;
}
/*Homepage End*/
/* About */
.about-container {
	max-width: 1024px;
	height: 100vh;
	display: flex;
	justify-content: center;
	margin: 0 auto;
}
.img {
	width: 200px;
	height: 200px;
	margin: 0 auto;
	padding-top: 2rem;
}
.img img {
	width: 100%;
	height: 100%;
}

.home {
	margin: 1rem;
	background-color: #ccc;
	text-decoration: none;
	color: #222;
	padding: 0.5rem 1rem;
	transition: 0.5s;
}
.home:hover {
	background-color: red;
	color: #fff;
}
/*About End*/
/*Skills*/
/*Maybe add a module and pop up a little description about the technology?*/
.skills-container {
	max-width: 1024px;
	margin: 0 auto;
}

.skills-container div {
	width: 100%;
	height: 100%;
}
.skills-container ul {
	list-style: none;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 10px;
	width: 100%;
	height: 100%;
}
.skills-container li {
	padding: 0.5rem 0rem;
	font-size: 1.5rem;
	background-color: #ccc;
	text-align: center;
	padding: 0.7rem;
}
.skills-container li p {
	font-size: 0.9rem;
	padding: 1.5rem;
	letter-spacing: 1px;
	line-height: 1.1rem;
	text-align: left;
}
/*Skills End*/
/*Portfolio*/
.portfolio-container h1 {
	margin-top: 3rem;
}
.wrapper {
	width: 100%;
	height: 40vh;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 2rem;
	margin: 3rem 0rem;
}
.wrapper .box {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 1px solid #222;
}
/* Float Shadow */
.hvr-float-shadow {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	position: relative;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform;
	transition-property: transform;
}
.hvr-float-shadow:before {
	pointer-events: none;
	position: absolute;
	z-index: -1;
	content: "";
	top: 100%;
	left: 5%;
	height: 10px;
	width: 90%;
	opacity: 0;
	background: -webkit-radial-gradient(
		center,
		ellipse,
		rgba(0, 0, 0, 0.35) 0%,
		rgba(0, 0, 0, 0) 80%
	);
	background: radial-gradient(
		ellipse at center,
		rgba(0, 0, 0, 0.35) 0%,
		rgba(0, 0, 0, 0) 80%
	);
	/* W3C */
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform, opacity;
	transition-property: transform, opacity;
}
.hvr-float-shadow:hover,
.hvr-float-shadow:focus,
.hvr-float-shadow:active {
	-webkit-transform: translateY(-5px);
	transform: translateY(-5px);
	/* move the element up by 5px */
}
.hvr-float-shadow:hover:before,
.hvr-float-shadow:focus:before,
.hvr-float-shadow:active:before {
	opacity: 1;
	-webkit-transform: translateY(5px);
	transform: translateY(5px);
	/* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}

.project-links {
	padding-top: 2rem;
	width: 100%;
	display: flex;
	justify-content: space-around;
}

/*Portfolio End*/
/*Contact info*/
.container-contact h1 {
	margin: 3rem;
}

.email,
.phone {
	width: 80%;
	margin: 0 auto;
	font-size: 1.3rem;
	font-weight: 100;
}
.email a,
.phone a {
	text-decoration: none;
	color: #5d4add;
}
.phone {
	padding-top: 1rem;
}

.icons div {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.icons h1 {
	border-bottom: 1px solid #222;
	font-weight: 100;
	font-size: 1.8rem;
}
.contact-info {
	padding-bottom: 2rem;
}

/*Videos*/
.video-container {
	width: 50%;
	height: 50%;
	position: fixed;
	z-index: -1;
	overflow: hidden;
}
video {
	width: 100%;
}
